@charset "utf-8";

@import "../lib/core/reset";
@import "./core/swiper-3.3.1.min.css";

@import "./core/font";
@import "./module/index";
@import "./module/home";
@import "./module/guide";
@import "./module/find";
@import "./module/my";
@import "./module/detail";
@import "../lib/widget/yo-dialog";
//@import "../lib/fragment/yo-actionsheet";
//@import "../lib/fragment/yo-list";
//@import "../lib/element/yo-input";
//@import "./module/action";
@import "../lib/element/yo-loading";
spa-app{
	position:absolute;
	overflow:hidden;
}
spa-view{
	width:100%;
	height:100%;
	position:absolute;
	z-index:0;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	background:#eceef0!important;
	@include flexbox(flex);
	@include flex-direction(column);
}