@font-face{
	font-family:yofont;
	src:url("/footballApp/images/iconfont/iconfont.ttf") format("truetype"),
	url("/footballApp/images/iconfont/iconfont.woff") format("woff");

}
@font-face{
	font-family:"yofont";
	src:url("/footballApp/images/iconfont/iconfont-menu.ttf") format("truetype"),
	url("/footballApp/images/iconfont/iconfont-menu.woff") format("woff");

}